<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/" id="homelink">Phonebook</a>
            <div id="menu"></div>
        </div>
    </div>
</div>
<div style="height: 80px">&nbsp;</div>